/*
	#8E44AD;
	#7D3C98;
*/
.TIRNA_header_part1 {
	background: #7D3C98;
}

.TIRNA_header_menu_box {
	background: #7D3C98;
}.TIRNA_header_menu_box:hover {
	background: #8E44AD;
}

.TIRNA_header_menu_title {
	background: #7D3C98;
}
.TIRNA_header_userProfile {
	background: url('../../img/x_p.png') no-repeat;
	background-size: 100% 100%;
}

.userBox {
	background: #7D3C98;
}.userBox:hover {
	background: #8E44AD;
}

.THS_center select {
	border-bottom: 1px solid #8E44AD;
}

#THS_restart {
	background: #7D3C98;
	transition: all 0.3s ease;
}#THS_restart:hover {
	transition: all 0.3s ease;
	background: #8E44AD;
}

.TIRNA_header_settings_close {
	background: #7D3C98;
}.TIRNA_header_settings_close:hover {
	transition: all 0.3s ease;
	background: #8E44AD;
}